node_modules/
.next/
/.next/
.next/trace
.next/cache/webpack/client-development/1.pack.gz
.next/cache/webpack/client-development/index.pack.gz
.next/cache/webpack/client-development/index.pack.gz.old
.next/cache/webpack/server-development/0.pack.gz
.next/cache/webpack/server-development/1.pack.gz
.next/cache/webpack/server-development/2.pack.gz
.next/cache/webpack/server-development/index.pack.gz
.next/cache/webpack/server-development/index.pack.gz.old
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/static/chunks/webpack.js
